<section>
  <h3 id="pam_pam">Reviews</h3>
  <div class="row">
    {% for review in reviews %}
      <div class="columns medium-4">
        <div class="callout">
          <h5 id="review">{{review.name}}</h5>
          <h6 id="review">{{review.subtitle}}</h6>
          <hr>
          <p>
            {{review.text}}
          </p>
        </div>
    
      </div>
    {% endfor %}
  </div>
</section>

